[profile.release]
strip = true
opt-level = "s"
lto = true
codegen-units = 1

[package]
name = "generate-kernel-cmdline"
version = "0.1.0"
edition = "2024"

[dependencies]
uapi-config = { git = "https://github.com/Arnavion/uapi-config" }
